html{
	font-size: 14px;
}
body{
	background-color:#ecebeb;
	font-family: 'Open Sans', sans-serif;
	color:#333;
}
.container{
	background-color: #fff;
	border-radius:3px;
	
}
h1{
	text-transform: uppercase;
	font-size: 1.4rem;
	margin: 1em 0;
}
h2{
	text-transform: uppercase;
	font-size: 1rem;
	color:#f16045;
	margin-bottom: 2rem;
}

p{
	margin-bottom:2em;

}
h2::before{
	content: "//";
}
ul{
	margin-left: 40px;
}

header{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid #dedede;
	text-align: center;
}
/*colors*/
.color-orange{
	color: #f16045;
}
.color-grey{
	color: #ccc;
}
/*idiomas*/
.idioma::after{
	content:"";
	clear: both;
	display: table;
}
.idioma{
	border-bottom: 1px solid #ccc;
}
.idioma__titulo{
	width: 50%;
	float: left;
}
.idioma__estrella{
	width: 50%;
	float: right;
}

.dat-educ{
	background-color: #f0f0f0;
	padding: 5px;
	border-radius: 5px;
	margin: 5px 0;
}
.dat-educ1{
	margin: 0 0 15px 0;
}

.rectangulo-mas{
	color:#fff;	
	background-color: #f16045;
	margin: 0 0 2px 0;
	padding: 0 5px;
}

.col-ancho1{
	width: 90%;
	
}
.col-ancho2{
	width: 80%;
	clear: both;
}
.col-ancho3{
	width: 70%;
	clear: both;
}
.col-ancho4{
	width: 50%;
	clear: both;
}
.col-ancho5{
	width: 30%;
	clear: both;
}

img.mi-foto{
	text-align: center;
	border-radius: 50%;
	width: 150px;
	z-index: 100;
}